.navbar {
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: #00d084;
      }
    }
  }
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__logo img {
  height: 80px; /* adjust as needed */
  border-radius: 50%;
}
